@charset "UTF-8";

/*!     
Theme Name: Cocoon Child
Description: masomi79の日記に使用
Author: masomi79
Author URI: https://massumifukuda.work/
Template:   cocoon-master
Version:    7.5.8
*/



#footer{
  background: #333;
  color: #fff;
}
#footer .widget_block ul li a{
  color: #fff;
}



/************************************
** レスポンシブデザイン用のメディアクエリ
************************************/
/*1023px以下*/
@media screen and (max-width: 1023px){
}

/*834px以下*/
@media screen and (max-width: 834px){

}

/*480px以下*/
@media screen and (max-width: 480px){
}
